<html>
  <head>
    <title>Secret Santa</title>
  </head>
  <body>
    <h1>Secret Santa</h1>
    <form method="POST">
      <ul>
        <li>
          <label for="just_test">Just test</label>
          <input type="checkbox" id="just_test" name="just_test" value="true" checked="true" />
        </li>
        <li>
          <label for="subject">Subject</label>
          <input type="text" name="subject" value="Amigo secreto - Teste" />
        </li>
        <li>
          <label for="emails">E-mails</label>
          <textarea name="emails" id="emails" rows="20" cols="60" tabindex="0">
test1@a.com
test2@a.com
test3@a.com
test4@a.com
test5@a.com
test6@a.com
test7@a.com
test8@a.com
test9@a.com
test10@a.com
test11@a.com
          </textarea>
        </li>
        <li>
          <label for="template">Template</label>
          <textarea name="template" id="template" rows="20" cols="60" tabindex="0">
{% raw %}Hello,

This is the email of your Secret Santa:

{{ kid }}

Remember:
1. Your gift must be inspired by your Secret Santa's top 3 Interests.
2. The maximum value is R$ 100.
3. DO NOT DELETE THIS EMAIL!{% endraw %}
          </textarea>
        </li>
        <li>
          <button name="btn_submit">Continuar</button>
        </li>
      </ul>
    </form>
  </body>
</html>
